# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

Dockerfile
nginx.conf
.dockerignore
docker-entrypoint.sh
k8s-frontend.yaml
k8s-frontend-ingress.yaml
k8s-frontend-service.yaml
letsencrypt-prod.yaml